<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>linha</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/OniBusca.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/linhas.css' %}">
    <link rel="stylesheet" href="{% static 'css/linhasMedia.css' %}">
    <meta charset="UTF-8">
</head>
<body>

        <nav id="menu">
            <a href="{% url 'home' %}" id="linkBack">
            <span id="logo">
                <img src="{% static 'img/OniBusca.svg' %}" alt="logo do site" id="logoImg">
            <p><span class="green">Oni</span>Busca</p>
        </a>
        </span>
        <ul>
            <li><a href="{% url 'suporte' %}">Ajuda</a></li>
            {% if not user.is_authenticated %}
            <li id="linhas"><a href="{% url 'login' %}">Entrar</a></li>
            {% else %}
            <li><a href="meuPerfil.html" class="profileIcon"><img src="{% static 'img/user.png' %}" alt="perfil"></a></li>
            {% endif %}
        </ul>
    </nav>

    <main id="main">
        <div id="left">
            <img id="woman" src="{% static 'img/woman.svg' %}" alt="">
        </div>
        <div id="rigth">        
            <div id="tableLinhas">
                <h1>VISUALIZAR LINHAS</h1>
                {% if linhas %}
                <table>
                        <tr id="tableHead">
                            <td>LINHA</td>
                            <td>PARTIDA</td>
                            <td>CHEGADA</td>
                        </tr>
                        {% for linha in linhas %}
                        <tr>
                            <td>{{ linha.linha }}</td>
                            <td>{{ linha.inicio|time:"H:i" }}</td>
                            <td>{{ linha.termino|time:"H:i" }}</td>
                            <td class="plus"><a href="{% url 'sobreLinha' %}"><button><img src="{% static 'img/plus.png' %}" alt="expandir" class="plus"></button></a></td>
                        </tr>
                        {% empty %}
                        {% endfor %}
                        <tr>
                            <td colspan="5"><button id="btnMore">CARREGAR MAIS</button></td>
                        </tr>
                </table>
                {% else %}
                <p id="nullReturn">Nenhuma linha encontrada</p>
                {% endif %}
            </div>

        </div>
    </main>
</body>
</html>