<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>linha</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/OniBusca.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/linhas.css' %}">
    <link rel="stylesheet" href="{% static 'css/linhasMedia.css' %}">
    <meta charset="UTF-8">
</head>
<body>

        <nav id="menu">
            <a href="{% url 'home' %}" id="linkBack">
            <span id="logo">
                <img src="{% static 'img/OniBusca.svg' %}" alt="logo do site" id="logoImg">
            <p><span class="green">Oni</span>Busca</p>
        </a>
        </span>
        <ul>
            <li><a href="{% url 'suporte' %}">Ajuda</a></li>
            {% if not user.is_authenticated %}
            <li id="linhas"><a href="{% url 'login' %}">Entrar</a></li>
            {% else %}
            <span id="meuPerfil">
                <li><a href="meuPerfil.html">Meu perfil</li>
                <li><img src="{% static 'img/user.png' %}" alt="perfil"></a></li>
            </span>
            {% endif %}
        </ul>
    </nav>

    <main id="main">
        <div id="left">
            <img id="woman" src="{% static 'img/woman.svg' %}" alt="">
        </div>
        <div id="rigth">        
            <div id="tableLinhas">
                <h1>VISUALIZAR LINHAS</h1>
                <table>
                        <tr id="tableHead">
                            <td>LINHA</td>
                            <td>PARTIDA</td>
                            <td>CHEGADA</td>
                        </tr>
                        <tr>
                            <td>Centro - IFSP</td>
                            <td>7:00h</td>
                            <td>8:00h</td>
                            <td class="plus"><a href="sobreLinha.html"><button><img src="images/plus.png" alt="expandir" class="plus"></button></a></td>
                        </tr>
                        <tr>
                            <td>IFSP - Centro</td>
                            <td>17:10h</td>
                            <td>18:10h</td>
                            <td class="plus"><a href="sobreLinha.html"><button><img src="images/plus.png" alt="expandir" class="plus"></button></a></td>
                        </tr>
                        <tr>
                            <td>Bairro - Centro</td>
                            <td>6:00h</td>
                            <td>6:40h</td>
                            <td class="plus"><a href="sobreLinha.html"><button><img src="images/plus.png" alt="expandir" class="plus"></button></a></td>
                        </tr>
                        <tr>
                            <td colspan="5"><button id="btnMore">CARREGAR MAIS</button></td>
                        </tr>
                </table>
            </div>

        </div>
    </main>
    
    <footer id="footer">
        <p>&copy; OrkaShield</p>
    </footer>

</body>
</html>