<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa interativo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sobreLinha.css' %}">
    <link rel="stylesheet" href="{% static 'css/sobreLinhaMedia.css' %}">
    <link rel="shortcut icon" href="{% static 'img/OniBusca.svg' %}" type="image/x-icon">
</head>

<body>
    <nav id="menu">
        <a href="{% url 'home' %}" id="linkBack">
            <span id="logo">
                <img src="{% static 'img/logo.png' %}" alt="logo do site" id="logoImg">
                <p><span class="green">Oni</span>Busca</p>
        </a>
        </span>
        <ul>
            <li><a href="{% url 'suporte' %}">Ajuda</a></li>
            {% if not user.is_authenticated %}
            <li id="linhas"><a href="{% url 'login' %}">Entrar</a></li>
            {% else %}
            <span id="meuPerfil">
                <li><a href="meuPerfil.html">Meu perfil</li>
                <li><img src="{% static 'img/user.png' %}" alt="perfil"></a></li>
            </span>
            {% endif %}
        </ul>
    </nav>
    <main id="main">
        <div id="left">
            <iframe
                src="http://127.0.0.1:4567/"
                width="800" height="600" frameborder="0" style="border:0" allowfullscreen>
            </iframe>
        </div>

        <div id="rigth">
            <div id="dadosLinha">
                <div id="dados">
                    <h1>Dados do veículo</h1>
                    <span id="dados">
                        <p>Número: .......</p>
                        <p>Motorista: .......</p>
                        <p>Placa: .......</p>
                    </span>
                </div>
                <div id="coment">
                    <input type="text" name="comentario" id="inputComentario" placeholder="Comentar...">
                </div>
            </div>
        </div>
    </main>
</body>

</html>