<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Monitoramento do veículo</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;900&display=swap');
        body{
            font-family: 'Poppins', sans-serif;
        }
        #mapa_da_rota { height: 600px; }
        .botao {
            position: absolute;
            z-index: 1000;
            background-color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
        }
        #botaoCentralizar {
            bottom: 10px;
            right: 10px;
        }
        #botaoSatelite {
            bottom: 10px;
            right: 70px; 
        }
        #legenda {
            position: absolute;
            bottom: 80px;
            left: 10px;
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            z-index: 1000;
        }
        .box {
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 5px;
            border: 2px solid #000;
        }
    </style>
</head>
<body>
    <div id="mapa_da_rota"></div>

    <div id="legenda">
        <div>
            <span class="box" style="background-color: #71a872;"></span> Percurso Percorrido
        </div>
        <div>
            <span class="box" id="cor-segmento"></span> Rota prevista
        </div>
    </div>

    <button id="botaoCentralizar" class="botao">
        <img src="https://i.postimg.cc/yxDt6VcT/cent.png" alt="Centralizar" width="40" height="40">
    </button>
    
    <button id="botaoSatelite" class="botao">
        <img src="https://i.postimg.cc/bwpDKdQk/satelite.png" alt="Satélite" width="40" height="40">
    </button>

    <button id="botaoRotaCompleta" class="botao" style="bottom: 10px; right: 130px;">
        <img src="https://i.postimg.cc/tTCrxftM/1604243.png" alt="Rota Completa" width="40" height="40">
    </button>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        let mapa;
        let marcadorVeiculo;
        let linha_percurso_trajeto_percorrido;
        let linha_segmento_rota;
        let marcadorUsuario; 
        let ultimoPonto = null; 
        let isSatellite = false;
        let animacaoEmAndamento = false;

        function inicializaMapa(localizacaoAtual) {
            mapa = new L.Map('mapa_da_rota', {
                center: localizacaoAtual,
                zoom: 18
            });

            var normal = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    'attribution': 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
                }).addTo(mapa);

            var satelite = L.tileLayer(
                'https://mt1.google.com/vt/lyrs=y&x={x}&y={y}&z={z}', {
                    'attribution': 'Map data © <a href="http://google.com">Google</a>'
                });

            mapa.sateliteLayer = satelite;

            document.getElementById('botaoCentralizar').onclick = function() {
                if (marcadorVeiculo) {
                    mapa.setView(marcadorVeiculo.getLatLng(), 18); 
                }
                if (marcadorUsuario) {
                    mapa.setView(marcadorUsuario.getLatLng(), 18); 
                }
            };

            document.getElementById('botaoSatelite').onclick = function() {
                if (mapa.hasLayer(satelite)) {
                    mapa.removeLayer(satelite);
                    mapa.addLayer(normal); 
                    isSatellite = false; 
                    if (linha_segmento_rota) {
                        linha_segmento_rota.setStyle({ color: '#3e5752' });
                    }
                } else {
                    mapa.removeLayer(normal);
                    mapa.addLayer(satelite); 
                    isSatellite = true;
                    if (linha_segmento_rota) {
                        linha_segmento_rota.setStyle({ color: '#ffffff' });
                    }
                }
                atualizaCorLegenda();
            };
        }

        function moveAnimado(marcador, rota, duracaoTotal) {
            if (animacaoEmAndamento) return;
            animacaoEmAndamento = true;

            let coordenadas = rota;
            let totalPontos = coordenadas.length;
            let indiceAtual = 0;

            function animar() {
                if (indiceAtual < totalPontos) {
                    marcador.setLatLng(coordenadas[indiceAtual]);
                    indiceAtual++;
                    setTimeout(animar, duracaoTotal / totalPontos);
                } else {
                    animacaoEmAndamento = false;
                }
            }

            animar();
        }

        function obterRotaEntrePontos(pontoInicial, pontoFinal) {
            return new Promise((resolve, reject) => {
                const coordInicio = [pontoInicial[1], pontoInicial[0]].join(',');
                const coordFim = [pontoFinal[1], pontoFinal[0]].join(',');
                const url = `http://router.project-osrm.org/route/v1/driving/${coordInicio};${coordFim}?overview=full&geometries=geojson`;

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        const coordinates = data.routes[0].geometry.coordinates.map(coord => [coord[1], coord[0]]);
                        resolve(coordinates);
                    })
                    .catch(error => reject(error));
            });
        }

        function atualizaMapa() {
            fetch('/dados')
                .then(response => response.json())
                .then(async dados => {
                    const localizacaoAtual = dados.coordenada_atual;
                    const percursoAjustado = dados.percurso_ajustado;
                    const segmentoRota = dados.segmento_rota;

                    if (!mapa) {
                        inicializaMapa(localizacaoAtual);
                        obterLocalizacaoUsuario(); 
                    }

                    if (marcadorVeiculo) {
                        if (ultimoPonto) {
                            try {
                                const rota = await obterRotaEntrePontos(ultimoPonto, localizacaoAtual);
                                moveAnimado(marcadorVeiculo, rota, 15000); 
                            } catch (error) {
                                console.error('Erro ao obter rota para animação:', error);
                                marcadorVeiculo.setLatLng(localizacaoAtual);
                            }
                        } else {
                            marcadorVeiculo.setLatLng(localizacaoAtual);
                        }
                    } else {
                        const iconeVeiculo = L.icon({
                            iconUrl: 'https://i.postimg.cc/HWVhT06s/bus.png',
                            iconSize: [50, 50],
                            iconAnchor: [25, 25],
                            popupAnchor: [0, -25],
                        });
                        marcadorVeiculo = L.marker(localizacaoAtual, { icon: iconeVeiculo }).addTo(mapa)
                            .bindPopup('Aqui está o veículo!')
                            .openPopup();
                    }

                    if (linha_segmento_rota) {
                        mapa.removeLayer(linha_segmento_rota);
                    }

                    linha_segmento_rota = L.polyline(segmentoRota, {
                        color: isSatellite ? '#ffffff' : '#3e5752',
                        weight: 5,
                        dashArray: '5,10'
                    }).addTo(mapa);

                    if (linha_percurso_trajeto_percorrido) {
                        mapa.removeLayer(linha_percurso_trajeto_percorrido);
                    }

                    linha_percurso_trajeto_percorrido = L.polyline(percursoAjustado, {
                        color: '#71a875',
                        weight: 9,
                    }).addTo(mapa);

                    ultimoPonto = localizacaoAtual; 

                    atualizaCorLegenda();
                })
                .catch(erro => {
                    console.error('API decidiu tirar um cochilo', erro);
                });
        }

        function obterLocalizacaoUsuario() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition((posicao) => {
                    const { latitude, longitude } = posicao.coords;

                    const iconeUsuario = L.icon({
                        iconUrl: 'https://i.postimg.cc/NMspYx18/person-1.png',
                        iconSize: [30, 30], 
                        iconAnchor: [15, 30], 
                        popupAnchor: [0, -25],
                    });

                    marcadorUsuario = L.marker([latitude, longitude], { icon: iconeUsuario }).addTo(mapa)
                        .bindPopup('Você está aqui!')
                        .openPopup();

                }, (erro) => {
                    console.error('Erro ao obter localização do usuário:', erro);
                });
            } else {
                console.error('Geolocalização não é suportada por este navegador.');
            }
        }

        function atualizaCorLegenda() {
            const corSegmento = isSatellite ? '#ffffff' : '#3e5752';
            document.getElementById('cor-segmento').style.backgroundColor = corSegmento;
        }
        let linha_rota_completa = null; 

        document.getElementById('botaoRotaCompleta').onclick = function () {
            if (linha_rota_completa) {

                mapa.removeLayer(linha_rota_completa);
                linha_rota_completa = null; 
            } else {
                fetch('/rota_completa')
                    .then(response => response.json())
                    .then(dados => {
                        const rotaCompleta = dados.rota_completa;

                        if (!rotaCompleta || rotaCompleta.length === 0) {
                            alert('Rota completa não disponível.');
                            return;
                        }

                        linha_rota_completa = L.polyline(rotaCompleta, {
                            color: '#003626',
                            weight: 6
                        }).addTo(mapa);

                        mapa.fitBounds(linha_rota_completa.getBounds());
                    })
                    .catch(erro => alert('Erro ao carregar a rota completa.'));
            }
        };

        atualizaMapa();
        setInterval(() => {
            atualizaMapa();
        }, 15000);
    </script>
</body>
</html>
