@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/gotham-6');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    color: #151018;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    font-size: 1.8rem;
    overflow-x: hidden;
}

.green {
    color: #3c554f;
}

#linkBack {
    text-decoration: none;
    color: #151018;
}

#menu {
    width: 100%;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#menu ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    list-style: none;
    margin-right: 8rem;
}

.profileIcon {
    cursor: pointer;
    align-self: center;
    justify-self: center;
    transition: .3s;
}

.profileIcon img {
    width: 50px !important;
    height: 50px !important;
}

.profileIcon img:hover {
    transform: scale(1.1);
    transition: .3s;
}

#meuPerfil {
    display: flex;
    align-items: center;
}

#meuPerfil img {
    width: 5rem;
}

#meuPerfil img:hover {
    width: 5.1rem;
}

#menu ul {
    margin-left: -5rem;
}

#menu ul li {
    padding-left: 2rem;
}

#menu ul li:nth-child(3) {
    padding-left: 1rem;
}

#menu #logoImg {
    margin-top: 5px;
    margin-left: 2rem;
    width: auto;
    max-width: 80px;
}

#menu li a {
    text-decoration: none;
    color: #151018;
    transition: .3s;
    align-self: flex-end;
    font-family: 'Gotham';
    font-size: 2.4rem;
}

#menu li a:hover {
    color: #000;
    font-size: 2.5rem;
}

#menu #logo {
    display: flex;
    font-family: 'Gotham';
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

#main {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main h1 {
    font-family: 'Gotham';
    text-align: center;
    margin-bottom: 1rem;
    font-size: 4rem;
}

    #texto {
        background-color: #E6E2E2;
        width: 80%;
        max-width: 900px;
        padding: 1rem;
        height: auto;
        border-radius: 2.2rem;
    }

    #texto p {
        margin-bottom: 3rem;
        font-family: 'Poppins';
        font-weight: bold;
    }

    p::first-letter {
        padding-left: .5rem;
    }

    #footer {
        width: auto;
        max-width: 90%;
        margin: 2rem auto;
        text-align: center;
        color: #151018;
    }

    @media (max-width: 600px) {
        html {
            height: min-content;
        }

        body {
            width: 100%;
            height: 100%;
            overflow: hidden;
            overflow-y: scroll;
        }

        #menu {
            grid-row: 1/2;
        }

        #menu li a {
            font-size: 1.6rem;
            text-align: center;
            vertical-align: center;
        }

        #menu li a:hover {
            color: #000;
            font-size: 1.7rem;
        }

        #menu ul li {
            padding-left: 1.5rem;
            text-wrap: nowrap;
            height: 100%;
            vertical-align: baseline;
        }

        #linhas {
            display: none;
        }

        #menu #logoImg {
            width: 100px;
            height: 70px;
        }

        #menu #logo {
            font-size: 2rem;
            margin-right: 2rem;
        }

        #meuPerfil img {
            width: 30px;
            margin-bottom: -5px;
            margin-right: -2rem;
        }

        #meuPerfil img:hover {
            width: 35px;
        }

        #main h1 {
            font-size: 2rem;
        }

        #texto {
            padding: 1.5rem;
            width: 90%;
        }

        #texto p {
            font-size: 1.8rem;
            word-wrap: break-word;
        }

        #footer {
            width: 90%;

        }
    }